<div class="container-beer">
        <div class="beer-image">
        <img src="/images/beer.png"/>
        </div>
    <div class="button-1">
        <a href="/beers">Check the Beers!</a>
    </div>
    <div class="button-2">
        <a href="/randomBeers">Check a Random Beer</a>
    </div>
</div>
